<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbw.dao.ConfigMapper">

    <resultMap id="BlogConfigVo" type="com.zbw.entity.Config">
        <id column="config_name" property="configName"></id>
        <result column="config_value" property="configValue"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <sql id="column_list">
        config_name,config_value,create_time,update_time
    </sql>

</mapper>
